<div class="main-content">
  <div class="container-fluid">
    <div class="title py-3">
      <h1>{{name}}</h1>
    </div>
    <div class="toolbar mb-4 d-sm-flex justify-content-sm-between">
        <a class="btn btn-success pull-right my-1" routerLink="/student/create">Create new student</a>
        <div class="search">
          <input id="search-text" [value]="searchTerm$ | async" class="my-1 form-control" (change)="onChangeSearch($event)" value="" placeholder="Search Title" />
        </div>

        <div class="sort d-flex align-items-center">
          <label for="orders" class="me-1 text-nowrap">Order : </label>
          <select id="orders" class="form-select" (change)="onChangeSort($event)">
            <option value="1" [selected]="(sortType$|async) == 1">Id - Asc</option>
            <option value="2" [selected]="(sortType$|async) == 2">Title - Asc</option>
            <option value="3" [selected]="(sortType$|async) == 3">Title - Desc</option>
          </select>

        </div>
    </div>
    <div class="items">
      <app-student-list-items [items]="students$ | async" (onDelete)="onDelete(+$event)" [isLoading]="isLoading$|async"></app-student-list-items>
      <app-pager (changePage)="onChangePage($event)" [currentPage]="pageNumber" [totalCount]="(totalCount$|async) || 0" [pageCount]="pageSize"></app-pager>
    </div>
  </div>
